[Unit]
Description=go-via.dev
After=network-online.target
Wants=network-online.target

[Service]
ExecStart={{ bin }}
Environment=VIA_ADDR={{ bind }}
Environment=VIA_ORIGIN=https://{{ domain }}
EnvironmentFile={{ env_file }}
Restart=always
RestartSec=2
DynamicUser=yes
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
