/* PreWrapper */ .c-chroma { color: #abb2bf; background-color: #1b1e24 }
/* Keyword */ .c-chroma .c-k { color: #c678dd }
/* KeywordConstant */ .c-chroma .c-kc { color: #d19a66 }
/* KeywordDeclaration */ .c-chroma .c-kd { color: #c678dd }
/* KeywordNamespace */ .c-chroma .c-kn { color: #c678dd }
/* KeywordType */ .c-chroma .c-kt { color: #c678dd }
/* NameBuiltin */ .c-chroma .c-nb { color: #e5c07b }
/* LiteralString */ .c-chroma .c-s { color: #98c379 }
/* LiteralStringChar */ .c-chroma .c-sc { color: #98c379 }
/* LiteralNumberFloat */ .c-chroma .c-mf { color: #d19a66 }
/* LiteralNumberHex */ .c-chroma .c-mh { color: #d19a66 }
/* LiteralNumberInteger */ .c-chroma .c-mi { color: #d19a66 }
/* CommentMultiline */ .c-chroma .c-cm { color: #7f848e; font-style: italic }
/* CommentSingle */ .c-chroma .c-c1 { color: #7f848e; font-style: italic }
/* CommentPreproc */ .c-chroma .c-cp { color: #7f848e; font-style: italic }
